<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>John Oliver's Personal Twitter Feed</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <img src="img/iamjohnoliver.png" />

      <!-- This seems pretty sloppy, but it seems to work! -->
      <% tweets.forEach(function(tweet) { %>
      <div class="tweet">
        <p>
          <span class="userName"><%= tweet.user_name %></span>&nbsp;&nbsp;
          <span class="screenName">@<%= tweet.screen_name %></span>&nbsp;&nbsp;
          <span class="date"><%= tweet.tweet_date %></span>
        </p>
          <p>
            <%= tweet.tweet_body %>
          </p>
      </div>
      <% }) %>
    </div>
  </body>
</html>